<ngx-loading [show]="loading | async"></ngx-loading>

<div class="wrapper">
  <mat-list>
    <mat-list-item *ngFor="let user of users | async">
      <img matListAvatar src="{{user.avatar}}" alt="User Picture">
      <h3 matLine> {{user.first_name}} </h3>
      <p matLine>
        <span> {{user.last_name}} </span>
      </p>
    </mat-list-item>
  </mat-list>

  <mat-paginator
    [length]="(pagination | async).total"
    [pageSize]="(pagination | async).per_page"
    [pageSizeOptions]="pageSizeOptions"
    (page)="pageChanged($event)">
  </mat-paginator>
</div>
