<h1 mat-dialog-title>{{ onEdit ? 'Edit user' : 'Create an User' }}</h1>

<!-- content -->
<div mat-dialog-content>
  <ngx-loading [show]="loading | async"></ngx-loading>

  <small class="md-warn mat-caption message">The fields with * are required</small>

  <form (ngSubmit)="onSubmit()" #userForm="ngForm" class="user-fields">

    <!-- first name -->
    <mat-form-field>
      <input
        matInput
        [formControl]="firstNameFormControl" [errorStateMatcher]="matcher"
        [(ngModel)]="user.firstName" name="firstName"
        placeholder="First Name" required>
      <mat-error *ngIf="firstNameFormControl.hasError('pattern') && !firstNameFormControl.hasError('required')">
        The first name should have at least <b>2</b> characters
      </mat-error>
      <mat-error *ngIf="firstNameFormControl.hasError('required')">
        First Name is required
      </mat-error>
    </mat-form-field>

    <!-- last name -->
    <mat-form-field>
      <input
        matInput
        [formControl]="secondNameFormControl" [errorStateMatcher]="matcher"
        [(ngModel)]="user.lastName" name="lastName"
        pattern = "^.*(.*\w){2,}.*$"
        type="text" placeholder="Last Name" required>
      <mat-error *ngIf="secondNameFormControl.hasError('pattern') && !secondNameFormControl.hasError('required')">
        The last name should have at least
        <b>2</b> characters
      </mat-error>
      <mat-error *ngIf="secondNameFormControl.hasError('required')">
        Last Name is required
      </mat-error>
    </mat-form-field>

    <!-- email -->
    <mat-form-field>
      <input
        matInput
        [formControl]="emailFormControl" [errorStateMatcher]="matcher"
        [(ngModel)]="user.email" name="email"
        placeholder="Email" required
        [readonly]="onEdit"
        >
      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Email is required
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('duplicate')">
        The email already exists
      </mat-error>
    </mat-form-field>

    <!-- phone -->
    <mat-form-field>
      <!-- pattern = "^\d{9,15}$" -->
      <input
        matInput
        [formControl]="phoneFormControl" [errorStateMatcher]="matcher"
        [(ngModel)]="user.phone" name="phone"
        type="text" placeholder="Phone Number" required>
      <mat-error *ngIf="phoneFormControl.hasError('pattern') && !phoneFormControl.hasError('required')">
        The phone number must between <b>9 and 15 digits</b>
      </mat-error>
      <mat-error *ngIf="phoneFormControl.hasError('required')">
        Phone is required
      </mat-error>
    </mat-form-field>

    <!-- birth date -->
    <mat-form-field>
      <input matInput
        [(ngModel)]="user.birthDate" name="birthDate"
        [matDatepicker]="picker"
        [max]="maxDate"
        (dateChange)="user.setAge()"
        type="text" placeholder="Birth Date" readonly required>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker disabled="false" startView="year" [startAt]="startDate"></mat-datepicker>
    </mat-form-field>

    <!-- age -->
    <mat-form-field>
      <input
        matInput
        [(ngModel)]="user.age" name="age"
        type="text" placeholder="Age" readonly>
    </mat-form-field>

  </form>
</div>

<!-- Actions -->
<div mat-dialog-actions>
  <button mat-button (click)="closeModal()">CANCEL</button>
  <button mat-button cdkFocusInitial [disabled]="!userForm.form.valid" (click)="submitForm()" color="primary">
    {{onEdit ? 'UPDATE' : 'CREATE'}}
  </button>
</div>