.wrapper {
  min-width: 700px;

  // Filter box
  .filters {
    display: flex;
    justify-content: flex-end;

    padding: 16px 5% 0px 0px;

    position: absolute;
    right: 0;
  }

  .icon-table {
    display: flex;
    align-items: center;

    mat-icon {
      margin-right: 4px;
    }
  }

  mat-table {
    padding-top: 72px;
  }
}

.no-user {
  margin-top: 64px;
  text-align: center;
}
